<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitudes de Productos</title>
    <link rel="stylesheet" href="{% static 'css/solicitudStyles.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
</head>

<body>
    <div id="grid-solicitudes">
        <div class="logo-section">
            <img src="{% static 'images/KonradLogo.png'%}" alt="logo-k" class="logo">
        </div>
        <header class="header">
            <i class="fa-solid fa-arrow-left"></i>
            <h1>Solicitudes de Productos</h1>
        </header>
        <aside class="aside">
            <div class="information-section">
                <div class="general-section">
                    <p>Nro de Solicitudes: {{3}}</p>
                    <p>Solicitudes Pendientes: {{2}}</p>
                    <p>Solicitudes Enviadas: {{1}}</p>
                </div>
                <div class="selection-info">
                    <p id="count-solicitudes">Solicitudes seleccionadas: 0</p>
                    <ul>
                        <li>{Producto 1}</li>
                        <li>{Producto 2}</li>
                    </ul>
                </div>
                <div class="button-section">
                    <button class="list-button open-form" onclick="openForm()">Listar</button>
                </div>
            </div>
        </aside>
        <main class="main">
            <div class="filer-section">
                <a href="{% url 'lista-productos' %}">Lista de producto</a>
                <a href="{% url 'lista-marcas' %}">Lista de Marcas</a>
            </div>

            <div class="filer-section">
                <input type="date">
                <select name="producto" id="producto">
                    <option>Producto1</option>
                    <option>Producto2</option>
                </select>
                <select name="Marca" id="Marca">
                    <option>Marca1</option>
                    <option>Marca2</option>
                </select>
                <select name="Estado" id="Estado">
                    <option>Pendiente</option>
                    <option>Enviado</option>
                </select>
                <input type="number" placeholder="Cantidad">
            </div>

            <div class="card-section">
               
                <div class="card">
                    <div class="info-card-section">
                        <p>#{id}</p>
                        <p>{Nombre del Producto}</p>
                        <ul>
                            <li><p>Cantidad: {0}</p></li>
                            <li><p>Marca: {0}</p></li>
                            <li><p>Estado: {0}</p></li>
                        </ul>
                    </div>
                    <div class="options-card-section">
                        <input type="checkbox" class="card-selection" onclick="updateCount()">
                        <button class="info-option"><i class="fa-solid fa-circle-info"></i></button>
                    </div>
                </div>
                
            </div>
        </main>
    </div>
</body>
</html>
<script>
    function updateCount(){
        const checkedCount = document.querySelectorAll('.card-selection:checked').length
        document.getElementById('count-solicitudes').innerText = 'Solicitudes seleccionadas: '+checkedCount;
    }
</script>