<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Marca</title>
</head>
<body>
    <h1>¿Estás seguro de que deseas eliminar esta marca?</h1>
    <p>Nombre: {{ marca.nombre }}</p>
    <p>Descripción: {{ marca.description }}</p>

    <form method="POST">
        {% csrf_token %}
        <button type="submit">Eliminar</button>
    </form>
    <a href="{% url 'lista-marcas' %}">Cancelar</a>
</body>
</html>
