<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Marcas</title>
</head>
<body>
    <h1>Lista de Marcas</h1>

    <a href="{% url 'crear-marca' %}">Agregar Nueva Marca</a>

    <ul>
        {% for marca in marcas %}
            <li>
                <strong>{{ marca.nombre }}</strong><br>
                {{ marca.description }}
                <br>
                <a href="{% url 'actualizar-marca' marca.pk %}">Actualizar</a>  <!-- Enlace para actualizar -->
                <a href="{% url 'eliminar-marca' marca.pk %}">Eliminar</a>  <!-- Enlace para eliminar -->
            </li>
        {% endfor %}
    </ul>
</body>
</html>
